/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
 @import 'modal';
 @import 'css_reset';
 @import 'spots';
 @import 'search';

 body{
  font-family: sans-serif;
 }

 #map-container {
  width: 765px;
  height: 850px;
}

#logo {
  content: url('bnb.png');
  zoom: 22%;
}

 .login-errors {
   list-style: none;
 }

 .signup-errors {
   list-style: none;
 }

.navbar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.navbar-left {
  padding-left: 26px;
  padding-top: 10px;
}

.navbar-left a {
  color: #FF5A5F;
  text-decoration: none;
  font-size: 25px;
}

.navbar-right {
  width: 150px;
  padding: 18px 12px 18px 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar-right button {
  color: #484848;
  width: 100%;
  height: 100%;
  text-decoration: none;
  background: none;
  border: none;
  padding: none;
  font-size: 14px;
  font-weight: 450;
}

.navbar-right-hover {
  height: 100%;
  padding: none;
  margin-bottom: 3px;
  border-bottom: 2px solid transparent;
}

.navbar-right button:focus {
  outline: none;
}

.navbar-right-hover:hover {
  border-bottom: 2px solid #484848;
  cursor: pointer;
  margin-bottom: 3px;
}

.greeting-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 180px;
}

.greeting-2 {
  width: 56%;
  min-width: 660px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
}

.greeting-3 {
  width: 60%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.greeting-text-1 {
  color: #FF5A5F;
  font-size: 46px;
  font-weight: 600;
  padding-right: 5px;
}

.greeting-text-2 {
  color: #484848;
  font-size: 46px;
  font-weight: 200;
}
