.booking-container {
  width: 100%;
  height: 100%;
}

.booking-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.booking-price{
  font-size: 20px;
}

.calendar-label {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.numbers {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.guest-number {
  width: 90%;
  height: 45px;
  border: 1px solid #DCDCDC;
  text-align: center;
}

.booking-submit {
  background-color: #FF5A5F;
  color: #fff;
  font-weight: 300;
  padding: 20px 100px 20px 100px;
  border-radius: 5px;
}

.booking-submit:hover {
  cursor: pointer;
}

.booking-errors {
  width: 90%;
}

.booking-errors ul {
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bookings-page {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.all-bookings {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.bookings-page-title {
  font-size: 26px;
  color: #676767;
  font-weight: 600;
  padding: 10px 0px 10px 80px;
}

.individual-spot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.individual-spot {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.individual-spot img {
  width: 100%;
  height: 100%;
}

#book-link {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  outline: none;
  color: #676767;
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
}

#book-link:hover {
  border-bottom: 2px solid #676767;
  cursor: pointer;
  margin-bottom: 3px;
}

.booking-spot-image {
  width: 400px;
  height: 275px;
}

.spot-desc, .booking-range {
  font-size: 17px;
  color: #676767;
  font-weight: 400;
}
