.modal-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  width: 500px;
  max-width: 100%;
  padding: 50px;
  margin-left: -300px;
  transform: translateY(-50%);
  background: white;
  border-radius: 5px;
}

.signup-main, .login-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.signup-form, .login-form {
  width: 100%;
  height: 100%;
}

.signup-form input, .login-form input {
  text-align: center;
}

.signup-divider {
  width: 100%;
  color: #DCDCDC;
}

.signup-errors {
  color: red;
}

.login-errors {
  color: red;
}

.signup-password-errors {
  color: red;
  padding-bottom: 7px;
  list-style: none;
}

.login-submit, .signup-submit, .demo-login {
  width: 100%;
  background-color: #FF5A5F;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

.login-submit, .demo-login {
  margin-top: 8px;
  margin-bottom: 8px;
}

.signup{
  border: 1px solid #C0C0C0;
  margin-top: 8px;
  margin-bottom: 8px;
}

.login{
  border: 1px solid #C0C0C0;
  margin-top: 8px;
  margin-bottom: 8px;
}

.signup[type="text"] {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.login[type="text"] {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.signup[type="password"] {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.login[type="password"] {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.switch-to-signup {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #676767;
}

.switch-to-login {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #676767;
  align-items: center;
}

.switch-to-login button {
  padding: 8px 5px 8px 5px;
  border: 2px solid #008489;
  border-radius: 4px;
  color: #008489;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}

.switch-to-signup button {
  padding: 8px 5px 8px 5px;
  border: 2px solid #008489;
  border-radius: 4px;
  color: #008489;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}

.switch-to-signup p {
  color: #676767
}

.switch-to-login p {
  color: #676767
}

.switch {
  width: 90px;
}
