.search-page {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
}

.search-spots {
  width: 60%;
}

.all-spots {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: space-around;
}

.search-spots figure {
  width: 480px;
  height: 310px;
}

.search-bar {
  width: 500px;
  height: 44px;
}

.search-query {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.where {
  width: 33%;
  border-top: 1px solid #DCDCDC;
  border-left: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
  box-shadow: 0 4px 2px -2px whitesmoke;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: width 0.3s, border-color 0.5s;
}

.when {
  width: 33%;
  border-top: 1px solid #DCDCDC;
  border-left: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
  box-shadow: 0 4px 2px -2px whitesmoke;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: width 0.3s, border-color 0.5s;
}

.how-many {
  width: 33%;
  border: 1px solid #DCDCDC;
  box-shadow: 0 4px 2px -2px whitesmoke;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: width 0.3s, border-color 0.5s;
}

.where:focus, .when:focus, .how-many:focus {
  width: 100%;
  border-bottom: 2px solid #008984;
}
