.outer-carousel {
  width: 100%;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-header {
  height: 80px;
  width: 55.5%;
  min-width: 1065px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.inner-carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.searchlink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.spots-link {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  outline: none;
  color: #484848;
}

.carousel-header-title {
  font-size: 26px;
  color: #484848;
  font-weight: 600;
}

.slick-list {
  width: 1080px;
}

.carousel > figure {
  display: block;
  width: 100%;
}

.spot-item {
  padding-left: 6px;
  padding-right: 6px;
  width: 350px;
  height: 255px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.spot-item img {
  width: 350px;
  height: 230px;
  margin: 0;
}

.description {
  font-size: 15px;
  font-family: sans-serif;
  color: #484848;
  font-weight: 600;
}

.price {
  font-size: 15px;
  padding-right: 5px;
  font-family: sans-serif;
  color: #484848;
  font-weight: 600;
}

.slick-disabled {
  visibility: hidden;
}

.slick-prev {
  padding-right: 7px;
}

.slick-next {
  padding-left: 7px;
}

.slick-arrow, .slick-prev, .slick-next {
  color: transparent;
  width: 24px;
  height: 24px;
  align-self: center;
}

.slick-prev:before {
  content: url('Logomakr_0gqPjJ.png');
  zoom: 8%;
}

.slick-next:before {
  content: url('Logomakr_6djnyC.png');
  zoom: 8%;
}
