.outer-carousel {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inner-carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.slick-list {
  width: 1080px;
}

.carousel > figure {
  display: block;
  width: 100%;
}

.spot-item {
  padding-left: 6px;
  padding-right: 6px;
  width: 350px;
  height: 255px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.spot-item img {
  width: 350px;
  height: 230px;
  margin: 0;
}

.description {
  font-size: 15px;
  font-family: sans-serif;
  color: #484848;
  font-weight: 600;
}

.price {
  font-size: 15px;
  padding-right: 5px;
  font-family: sans-serif;
  color: #484848;
  font-weight: 600;
}

.slick-disabled {
  visibility: hidden;
}

.slick-prev {
  transform: rotateZ(180deg);
  padding-left: 6px;
}

.slick-next {
  padding-left: 6px;
}

.slick-arrow, .slick-prev, .slick-next {
  color: transparent;
  width: 24px;
  height: 24px;
}

.slick-prev:before {
  content: url('Logomakr_0uzDga.png');
  background-size: 20px 20px;
  zoom: 10%;
}

.slick-next:before {
  content: url('Logomakr_0uzDga.png');
  background-size: 20px 20px;
  zoom: 10%;
}
